<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
    <title>Exchange!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'core/bootstrap.min.css' %}">
    <script src="{% static 'core/jquery.min.js' %}"></script>
    <script src="{% static 'core/bootstrap.min.js' %}"></script>
    <style type="text/css">
        html {
            background: url("http://orig01.deviantart.net/8911/f/2013/205/2/e/grids__vector__by_ponytronic-d6f01ie.jpg") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    <ul>{% for error in form.errors %}<li>{{ error }}</li>{% endfor %}</ul>
    <div class="container-fluid">
        <div class="page-header">
            {% if  name1  %}<h3><small>{{ form.val.value }} {{ name1 }}{{ form.val.value|pluralize }} equals</small></h3>
            <h3>{{ form.val2.value }} {{ name2 }}{{ form.val2.value|pluralize }}</h3>
            {% else %}
                <h3>Currency converter</h3>
                <h3><small>{% now "jS F Y H:i" %}</small></h3>
            {% endif %}
        </div>
        <div class="jumbotron">
            <form action="{{ request.path }}" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-8">
                        <input class='form-control' maxlength='100' value='{{ form.val.value }}' step="any" name='val' type='number' required placeholder="amount" pattern="^[1-9]+$|\d+\.?\d+$" />
                    </div>
                    <div class="col-sm-4">
                        {{ form.curr1 }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <input class='form-control' maxlength='100' value='{{ form.val2.value }}' step="any" name='val2' type='number' disabled placeholder="amount" pattern="^[1-9]+$|\d+\.?\d+$" />
                    </div>
                    <div class="col-sm-4">
                        {{ form.curr2 }}
                    </div>
                </div>

                <input class='btn btn-default btn-block' type='submit' value='Exchange' />
            </form>
        </div>
    </div>
</body>
</html>